@font-face {
	font-family: "JetBrains Mono";
	src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

@import "tailwindcss";
@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-family: "JetBrains Mono";

	/* Colors */
	--color-surface-base: var(--background-base); /* Height level 0 */
	--color-surface-sunken: var(--background-surface-sunken); /* Height level 1 */
	--color-surface: var(--background-surface); /* Height level 2 */
	--color-surface-raised: var(--background-surface-raised); /* Height level 3 */
	
	--color-surface-overlay-sunken: var(--background-surface-overlay-sunken); /* Height level 4 */
	--color-surface-overlay: var(--background-surface-overlay); /* Height level 5 */
	--color-surface-overlay-raised: var(--background-surface-overlay-raised); /* Height level 6 */

	--color-canvas: var(--background-canvas);

	--color-foreground: var(--foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	/* Radius */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--radius-2xl: calc(var(--radius) + 8px);
	--radius-3xl: calc(var(--radius) + 12px);
	--radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
	body {
		@apply overflow-hidden;
	}
}

@layer utilities {
	
}

:root {
	font-family: "JetBrains Mono";

	/* Background */
	--background-base: #ffffff;
	--background-surface-sunken: #e5e9f0;
	--background-surface: #eceff4;
	--background-surface-raised: #ffffff;

	--background-surface-overlay-sunken: #e5e9f0;
	--background-surface-overlay: #eceff4;
	--background-surface-overlay-raised: #ffffff;

	--background-canvas: #ffffff;

	--foreground: oklch(0.145 0 0);

	--accent: rgb(22, 162, 255);
	--accent-foreground: oklch(0.97 0.014 254.604);

	--destructive: oklch(0.58 0.22 27);
	--destructive-foreground: oklch(0.97 0 0);

	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);

	/* Radius */
	--radius: 0rem;
}

.dark {
	--background-base: #2e3440;
	--background-surface-sunken: #3b4252;
	--background-surface: #434c5e;
	--background-surface-raised: #4c566a;

	--background-surface-overlay-sunken: #3b4252;
	--background-surface-overlay: #434c5e;
	--background-surface-overlay-raised: #4c566a;

	--background-canvas: #2e3440;

	--foreground: rgb(225, 225, 225);

	--accent: rgba(12, 158, 255, 0.685);
	--accent-foreground: oklch(0.97 0.014 254.604);

	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);

	--destructive: oklch(0.704 0.191 22.216);
	--destructive-foreground: oklch(0.985 0 0);
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
}