.workspace .flexlayout__layout {
	--color-text: var(--foreground);
	--color-background: var(--background);
	--color-base: black;
	--color-1: var(--secondary-background);
	--color-2: var(--background);
	--color-3: var(--background);
	--color-4: var(--secondary-background);
	--color-5: var(--background);
	--color-6: var(--background);
	--color-drag1: rgb(207, 232, 255);
	--color-drag2: rgb(183, 209, 181);
	--color-drag1-background: rgba(128, 128, 128, 0.15);
	--color-drag2-background: rgba(128, 128, 128, 0.15);
	--font-size: medium;
	--color-overflow: gray;
	--color-icon: gray;
	--color-tabset-background: var(--color-1);
	--color-tabset-background-selected: var(--color-1);
	--color-tabset-background-maximized: var(--color-6);
	--color-tabset-divider-line: var(--color-4);
	--color-tabset-header-background: var(--color-1);
	--color-tabset-header: var(--background);
	--color-border-tab-content: var(--color-background);
	--color-border-background: var(--color-1);
	--color-border-divider-line: var(--color-4);
	--color-tab-content: var(--color-background);
	--color-tab-selected: var(--color-text);
	--color-tab-selected-background: var(--color-4);
	--color-tab-unselected: gray;
	--color-tab-unselected-background: transparent;
	--color-tab-textbox: var(--color-text);
	--color-tab-textbox-background: var(--color-3);
	--color-border-tab-selected: var(--color-text);
	--color-border-tab-selected-background: var(--color-4);
	--color-border-tab-unselected: gray;
	--color-border-tab-unselected-background: var(--color-2);
	--color-drag-rect-border: var(--color-4);
	--color-drag-rect-background: var(--color-1);
	--color-drag-rect: var(--color-text);
	--color-popup-border: var(--color-6);
	--color-popup-unselected: var(--color-text);
	--color-popup-unselected-background: var(--color-background);
	--color-popup-selected: var(--color-text);
	--color-popup-selected-background: var(--color-4);
	--color-edge-marker: gray;
	--color-edge-icon: #eee;
	--color-mini-scroll-indicator: rgba(128, 128, 128, 0.5);
	--color-mini-scroll-indicator-hovered: rgba(128, 128, 128, 0.8);
	--size-mini-scroll-indicator: 3px;
	--color-toolbar-button-hover: var(--color-4);
}

.workspace .flexlayout__mini_scrollbar_container {
	background-color: var(--background-surface);
	padding-left: 4px;
}

.workspace .flexlayout__tabset_tabbar_inner_tab_container {
	border: 0px !important;
}

.workspace .flexlayout__tabset_tabbar_outer {
	border: 0px !important;
}

.workspace .flexlayout__tab_toolbar {
	background-color: var(--background-surface);
	width: 4px !important;
	padding: 0px !important;
}

.workspace .flexlayout__tabset_tabbar_inner {
	background-color: var(--background-surface-sunken);
}

.workspace .flexlayout__tab_button {
    width: 100%;
	height: 32px !important;
	padding: 0px 14px !important;
	cursor: grab;
	color: var(--muted-foreground);
}

.workspace .flexlayout__tab_button:hover {
	color: var(--foreground);
}

.workspace .flexlayout__tab_button--selected {
    background-color: var(--background-surface);
	color: var(--foreground);
}

.workspace .flexlayout__tab_button--selected::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--foreground);
}

.workspace .flexlayout__tab_button_content {
	font-size: 0.75rem;
}

.workspace .flexlayout__splitter_handle_horz {
	background-color: transparent !important;
}

.workspace .flexlayout__splitter_handle_vert {
	background-color: transparent !important;
}

.workspace .flexlayout__splitter_drag[style*="flex-direction: row"],
.workspace .flexlayout__splitter_drag[style*="flex-direction:row"] {
	top: 0px !important;
    width: 4px !important;
	height: calc(100% - 8px) !important;
	transform: translateX(-2px) !important;
	background-color: var(--accent) !important;
	border-radius: 0% !important;
}

.workspace .flexlayout__splitter_drag[style*="flex-direction: col"],
.workspace .flexlayout__splitter_drag[style*="flex-direction:col"] {
	left: 0px !important;
    width: calc(100% - 8px) !important;
	height: 4px !important;
	transform: translateX(4px) translateY(-6px) !important;
	background-color: var(--accent) !important;
	border-radius: 0% !important;
}

.workspace .flexlayout__splitter {
	--dot-color: color-mix(in srgb, var(--foreground), transparent 80%);
}

.workspace .flexlayout__splitter_vert {
	position: relative;
}
.workspace .flexlayout__splitter_vert::after {
    content: "";
    position: absolute;
    transform: translate(0, -100%);
	
	z-index: 100;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--dot-color);
    
    box-shadow: -5px 0 0 0 var(--dot-color), 5px 0 0 0 var(--dot-color), -10px 0 0 0 var(--dot-color), 10px 0 0 0 var(--dot-color);
}

.workspace .flexlayout__splitter_horz {
    position: relative; 
}
.workspace .flexlayout__splitter_horz::after {
    content: "";
    position: absolute;
	
	z-index: 100;
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background-color: var(--dot-color);
    
    box-shadow: 0 -5px 0 0 var(--dot-color), 0 5px 0 0 var(--dot-color), 0 -10px 0 0 var(--dot-color), 0 10px 0 0 var(--dot-color);
}

.flexlayout__splitter[style*="ew-resize"],
.flexlayout__splitter_extra[style*="ew-resize"],
.flexlayout__splitter_drag[style*="ew-resize"] {
    cursor: col-resize !important;
}

.flexlayout__splitter[style*="ns-resize"],
.flexlayout__splitter_extra[style*="ns-resize"],
.flexlayout__splitter_drag[style*="ns-resize"] {
    cursor: row-resize !important;
}

